@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  background: linear-gradient(to right, #324129, #02d898);
  font-family: 'Raleway', sans-serif;
  height: 200vh;
  text-align: center;
}
header h1{
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding-top: 2rem;
}